*.iml
.gradle

/local.properties

/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/app/src/main/java/com/mobile/vedroid/compose/ui/compose/_ComposeTests.kt
/app/src/androidTest/java/com/mobile/vedroid/compose/
/app/src/test/java/com/mobile/vedroid/compose/
